hmtl {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
.main-heading {
  border:solid 2px black;
  display: inline-block;
  color:black ;
  margin-top: 8%;
}

.container-1 {
  /* border: 2px solid blue; */
  text-align: center;
  font-size: 3rem;
  height:100vh;
  background-image: url('images/res-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.time-meal {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-img{
  text-align: center;
  /* border: 5px solid green; */
}
.chef {
  width: 80%;
  border-radius: 5%;
}
.time-content {
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  margin-left: 5%;
}
.menu {
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 1%;
  /* background-color: rgba(255, 0, 0, 0.5); */
  background-color: #EEEEEE;

}
.variety {
  border: red 5px solid;
  width: 90%;
  height: 80%;
  text-align: center;
  margin: 1%;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.variety-content {
  font-size: 4.2rem;
  font-weight: 900;
  letter-spacing: 0.3em;
  color:white;
}
.variety-btn {
  margin-top: 19%;
}
.bf {
  background-image:url("images/bf2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.drinks {
  background-image:url("images/drinks.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ln {
  background-image:url("images/ln.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dn {
  background-image:url("images/dn.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* DINNER STYLE */
.dn-heading-main{
  font-weight: 900;
  letter-spacing: 1.5em;
  margin-top: 2%;

}
.dn-whole-page {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right , rgba(10, 21, 55, 0.89),rgba(130, 144, 236, 0.89));
}
.title{
  padding-top:2.5%;
  text-align: center;
  height: 20vh;
  color: white;
  letter-spacing: 1.4em;
  font-size: 1.8em;
  font-weight: 900;
}
.dn-menu{
  display: flex;
  margin: 4%;
}
.dn-col {
  display: flex;
  flex-direction:column;
  /* border: solid 2px black; */
  width: 50%;
  text-align: center;
}
.dn-col1 {
  /* border: solid 2px red; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10%;
}
.dish1-img {
  width: 100%;
  border: solid white 0.7em;
  border-radius: 10%;

}
.a:hover {
  transition: 0.8s;
  transition-timing-function: ease-out;
  transform: translate3d(15px,4px,100px);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);

}
.child {
  width:50%;
  display: flex;
  justify-content: center;
}
.grand-child{
  align-items:center;
  margin: auto;
  width: 100%;
}
/* DINNER STYLE CLOSE */


/* CART STYLE OPEN */
.cart-main{
  display: flex;
  flex-direction:column;
  padding: 5%;
  border: solid black 2px;
  text-align: center;
  background-color: grey;
}
.cart-sub{
  display: flex;
  border: solid red 2px;

}
.cart-col {
  width: 100%;
  height: 40vh;
  border: white 1px solid;
}
.total {
  width: 100%;
}

.checkout {
  text-align: center;
  margin-top: 5%;
}
/* CART STYLE CLOSE



 */
















footer {
  text-align: center;
  padding: 3%;
}
