@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Zen+Loop&display=swap');


hmtl {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.main-heading {
  /* border:solid 2px white; */
  display: inline-block;
  font-size:2em;
  font-family: 'Satisfy', cursive;
  /* color:white ; */
  margin-top: 20%;
  background: -webkit-linear-gradient(135deg, rgba(0, 0, 0,1), rgba(255, 255, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;

}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform:translateX(-20%);
  }
  80%{
    transform:translateX(2.5%);
  }


}
.container-1 {
  /* border: 2px solid blue; */
  text-align: center;
  font-size: 3rem;
  height:100vh;
  background-image: url('images/res-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.time-meal {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-data {
  display: flex;
  flex-direction: column;
  text-align:center;
}
.time-img{
  text-align: center;
  /* border: 5px solid green; */
}
.chef {
  width: 80%;
  border-radius: 5%;
}
.time-content {
  font-size: 3em;
  font-weight: 700;
  color: white;
  margin-left: 5%;
  font-family: 'Zen Loop', cursive;
  letter-spacing: 2px;
  float: right;
}
.currenttime {
  margin-bottom: 8%;
  font-family: 'Zen Loop', cursive;
  letter-spacing: 0.7em;
  color: white;
  font-size: 700;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 1%;
  /* background-color: rgba(255, 0, 0, 0.5); */
  background-color: #EEEEEE;

}
.variety {
  /* border: red 5px solid; */
  width: 80%;
  height: 80%;
  text-align: center;
  margin: 1%;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.variety-content {
  font-size: 4.2rem;
  font-weight: 900;
  letter-spacing: 0.3em;
  color:white;
  font-family: 'Chewy', cursive;
}
.variety-btn {
  margin-top: 19%;
}
.bf {
  background-image:url("images/bf2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.drinks {
  background-image:url("images/drinks.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ln {
  background-image:url("images/ln.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dn {
  background-image:url("images/dn.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* DINNER STYLE */
.dn-heading-main{
  font-weight: 900;
  letter-spacing: 1.5em;
  margin-top: 2%;
  z-index: 2;

}
.dn-whole-page {
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(to bottom right , rgba(10, 21, 55, 0.89),rgba(130, 144, 236, 0.89)); */
  /* background-image: url("images/back1.jpeg"); */
  background-image: linear-gradient(to bottom right, #082567,#E0FFFF);
  overflow: hidden;
}
.title{
  padding-top:2.5%;
  text-align: center;
  height: 20vh;
  color: white;
  letter-spacing: 1.4em;
  font-size: 1.8em;
  font-weight: 900;
  z-index: 2;
}
.dn-menu{
  border: solid 2px blue;
  display: flex;
  margin: 2%;
  z-index: 2;
}
.dn-col {
  display: flex;
  flex-direction:column;
  border: solid 2px black;
  width: 50%;
  text-align: center;
  justify-content: center;
}
.dn-col1 {
  border: solid 2px red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 12%;
}
.dish1-img {
  width: 100%;
  border: solid grey 0.4em;
  border-radius: 7%;

}
.a:hover {
  transition: 0.7s;
  transition-timing-function: ease-out;
  transform: translate3d(15px,4px,100px);
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
}
.child {
  width:50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.grand-child{
  align-items:center;
  margin: auto;
  width: 100%;
}
.DISH_HEAD {
  margin: 3%;
  font-size: 1.3em;
  font-family: sans-serif;
}
/* DINNER STYLE CLOSE */


/* CART STYLE OPEN */
.cart-title-head {
  color: black;

}
.cart-main{
  display: flex;
  flex-direction:column;
  padding: 5%;
  /* border: solid black 2px; */
  text-align: center;
  color: black;
  z-index: 1;
  position: absolute;
  width: 100%;
  font-size: 1.5em;
  font-weight: 900;
  font-family: 'Rubik', sans-serif;

}
.overlay{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 /* background: #03a9f4; */
 mix-blend-mode: overlay;
}
.cart-main video {
  position: absolute;
  top:0;
  left:0;
  object-fit:cover;
  width: 100%;
 height: 100%;
 opacity: 0.7;
}
.cart-sub{
  display: flex;
  overflow: auto;
  z-index: 10;
  position: relative;
  top:0;
  left: 0;
  letter-spacing: 20%;
}
.cart-col {
  width: 100%;
  height: 40vh;
}
.cart-col-1 {
  padding: 2%;
  margin: 2%;
}
.cart-col-2 {
  padding: 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.total {
  width: 100%;
}
.amount-in-ruppees  {
  margin-top: 5%;
}
.total-of-dishes{
  margin-top: 5%;

}

.checkout {
  text-align: center;
  margin-top: 5%;
  z-index: 5;
}
/* CART STYLE CLOSE



 */
















footer {
  text-align: center;
  position:relative;
  font-size: 0.7em;
  margin: auto;
  margin-top: 6%;
  bottom:0px;
  z-index: 1000;
}
